@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

:root {
  --primary-font: "Bebas Neue", sans-serif;
  --secondary-font: "Figtree", sans-serif;
  --primary-color: #000000;
  --secondary-color: #d9d8d2;
  --terciary-color: #ffffff;
  --color-4: #595025;
  --color-5: #d9971a;
  --color-6: #01c794;
}

button {
  font-family: "Poetsen One", sans-serif;
}

.backgroundquizz {
  background-image: url("../../../src/assets/images/fondlogin.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: auto;
}

.main-title {
  margin-bottom: 1rem;
  font-size: 7rem;
  font-family: var(--primary-font);
  color: var(--color-5);
}

.quizz-description {
  display: flex;
  justify-content: center;
  margin-left: 8rem;
  margin-right: 8rem;
  margin-bottom: 4rem;
  font-size: 2rem;
}

.quizz-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-family: var(--primary-font);
}

.quizz-question {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  color: #000000;
  margin: 1rem 1rem 4rem 1rem;
  font-family: "Shadows Into Light", cursive;
}

.quizz-question-response {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.5rem;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 50rem;
  height: 40rem;
  margin-bottom: 2rem;
}

/** Les cases **/
.case {
  display: flex;
  justify-content: center;
  height: 70px;
  width: 80px;
  border: 15rem solid var(--primary-color);
  size: 25px;
}

.case-number {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 70px;
  width: 80px;
  size: 5rem;
  font-size: 3rem;
}

.quizz-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-quizz {
  background-color: green;
  color: white;
  font-weight: bold;
  font-size: 2rem;
  height: 4rem;
  width: 20rem;
  border-radius: 40px;
  cursor: pointer;
  position: absolute;
  margin: 0 0 350px 450px;
  text-align: center;
}

.submit-quizz:hover {
  transform: scale(1.03);
  background-color: rgb(3, 75, 3);
}

.nav-button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0 0 8rem 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  font-family: "Poetsen One", sans-serif;
}

.nav-button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.nav-button:main,
.nav-button:focus {
  user-select: auto;
}

.nav-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.nav-button:disabled {
  cursor: auto;
}

.nav-button:active {
  border-width: 4px 0 0;
  background: none;
}

.nav-button:hover {
  background-color: #a06e12;
  transform: scale(1.02);
}

@media screen and (max-width: 762px) {
  .main-title {
    font-size: 8rem;
    margin-top: 3rem;
  }

  .quizz-description {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
  }

  .quizz-content {
    font-size: 2rem;
  }

  .quizz-question {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .quizz-question-response {
    margin-bottom: 3rem;
  }

  .case {
    height: 50px;
    width: 60px;
    border: 10rem solid var(--primary-color);
  }

  .case-number {
    height: 50px;
    width: 60px;
    font-size: 2rem;
  }
}

.nav-button:hover {
  background-color: rgba(77, 77, 77, 0.7);
  transform: scale(1.02);
}

.quizz-navigation {
  display: flex;
  justify-content: space-around;
  gap: 20rem;
  width: 50rem;
  align-items: center;
}

.footer2 {
  margin-top: 10rem;
}
